* {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  color: var(--primary);
}

body {
  background-color: var(--app-bg-color);
  min-width: 300px;
}

.text-primary {
  color: var(--primary);
}

.text-warning {
  color: var(--warning);
}

.text-danger {
  color: var(--danger);
}

.bg-white {
  background-color: var(--white);
}
