:root {
  --font-family: Helvetica, Arial, sans-serif;

  --color-white: 255, 255, 255;
  --color-gray1: 241, 241, 241;
  --color-gray2: 235, 235, 235;
  --color-gray3: 180, 180, 180;
  --color-gray4: 115, 124, 132;
  --color-gray5: 51, 51, 51;
  --color-info: 105, 163, 255;
  --color-warning: 255, 150, 50;
  --color-danger: 237, 25, 70;

  --white: rgb(var(--color-white));
  --info: rgb(var(--color-info));
  --warning: rgb(var(--color-warning));
  --danger: rgb(var(--color-danger));

  /* app background color */
  --gray1: rgb(var(--color-gray1));

  /* card footer: background color */
  --gray1-opacity50: rgba(var(--color-gray1), 0.5);

  /* divider */
  --gray2: rgb(var(--color-gray2));

  /* text muted */
  --gray3: rgb(var(--color-gray3));

  /* text default */
  --gray4: rgb(var(--color-gray4));

  /* box shadow color */
  --gray5-opacity-10: rgba(var(--color-gray5), 0.1);

}
